body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  min-height: 1000px;
}

#container{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
}

.topnav {
  font-size: 1.1em; 
  display: flex;
  flex-direction: row;  
  font-family: Lucida Console;
  height: 60 px;
  width: 100%;
  box-shadow:  3px 0 5px black;
  background-color: white;
  justify-content: center;
}

.topnav div {
    display: flex;
    flex-direction:column;
    padding: 20px 20px;
    align-items: center;
}

.topnav a {
  color: black;
}

.topnav div:hover{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
   box-shadow: 0 0 10px #ccc;
}

.topnav a:hover {
  color:black;
  font-size: 1.2em;
}

.topnav img {
    width: 80px;
    height: 80px;
}

.active {
    border: 1px solid darkgray;
   -moz-box-shadow: 0 0 10px #ccc;
   -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}


.main {
  margin-top: 180px;
}

.main a{
  color: black;
}

.main a:hover{
  color: darkgrey;
}

.image-content{
  border: solid thin gray;
  float: left;
  padding: 10px 10px 10px 10px;
  display: block;
  padding: 20px; 
  align-content: center;
  box-shadow:  2px 2px 5px black;
}

article{
    padding: 10px;
    clear: both;
    font-size: 1em;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.2;
}

.second_bar {
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.second_bar a {
    color: black;
    padding: 20px;
}

.second_bar a:hover {
    color: darkgray;
}

.bottom{
    background-color: lightgray;
    border-top: 1px solid darkgray;
    font-size: 0.7em;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
}